.input-field select {
    margin-top: 8px;
    max-width: 618px;
    min-height: 34px;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.attributes-card {
    margin-top: 11px;
    border: 1px solid #CCCCCC;
    max-width: 263px;
    height: 335px;
}

.card-title {
    /* margin-bottom: 15px; */
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 0 7px 11px;
}

.card-content {
    padding: 15px 7px 15px 11px;
}

.card-content label{
   
    margin-left: 19px;
    font-size: 1rem;
}
